canvas {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: -2px -2px 2px #EFEFEF, 5px 5px 5px #B9B9B9;
  cursor: grabbing;
}
h1 {
	position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 80%;
  margin: auto;
  width: 120px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
form#action {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top:70%;
  bottom: 0;
  margin: auto;
  width: 380px;
  height: 50px;
  text-align: center;
}
button {
	background-color: #0066FF;
	color: #ffffff;
	line-height: 30px;
}
div#current {
	/*float: left;*/
  width: 300px;
  position: absolute;
  left: 10px;
  top: 20px;
	/*margin-top: 5%;*/
	/*margin-right: 20%;*/
}
form#info {
  /*position: absolute;*/
  width: 250px;
}
form#info input {
  width: 173px;
}
button#enter {
  float: right;
  margin-top: -40px;
}
div.userInfo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
div.userItem {
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  margin-left: 6px;
  margin-top: 10px;
  /*vertical-align: middle;*/
  line-height: 60px;
}
.waitingUser {
  width: 100%;
  text-align: center;
  padding-bottom: 2px;
  /*height: 100px;*/
  /*line-height: 100px;*/
}
@media screen and (max-width: 430px) {
  canvas {
    transform: scale(0.91);
    transform-origin: 0 -30px;
  }

  div#current {
    margin-left: -5px;
  }
  div.userItem {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  h1 {
    float: right;
    /*position: absolute;*/
    margin-right: 5px;
    width: 100px;
    margin-top: 20px;
    /*text-align: left;*/
    /*clear: both;*/
  }
}
@media screen and (max-width: 376px) {
  canvas {
    transform: scale(0.833);
    transform-origin: 0;
  }
  h1 {
    font-size: 150%;
    margin-right: -5px;
  }
  form#info {
    width: 230px;
  }
  form#info input {
    width: 150px;
  }
  div#current {
    width: 75%;
  }
}
@media screen and (max-width: 361px) {
  canvas {
    transform: scale(0.8);
    transform-origin: 0;
  }
}
/*@media screen and (max-width: 470px) {
  form#info {
    width: 270px;
  }
  div#current {
    width: 320px;
  }
}
@media screen and (max-width: 380px) {
  body {
    transform: scale(0.8);
  }
}*/